
body{
  background-blend-mode: blue;
  
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

h3{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

h4{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
  background-color: blue;
  color: chartreuse;
}


.jumbotron {
  background: url('images/IMG_1322.jpg');
  font-display: auto;
  }

  .image{
    position: relative;
    left: 750px;
    bottom: 130px;
    /* top: 100px; */
    clear: both;

  }

  .buttons{
    position: absolute;
    clear: both;
  }

  .block{
    position: relative;
    clear: both;
    bottom: 175px;
  }
