
body{
  background-blend-mode: blue; 
}

h1{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

h3{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

#quote{
  font-weight: bolder;
  font-size: 20px;
}

h4{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#highlight{
  font-style: italic; 
   border-bottom: 1px solid black;
   display: inline-block;
   line-height: 0.85;
   text-shadow:
     2px 2px white,
     2px -2px white,
     -2px 2px white,
     -2px -2px white; 
}
#about{
  font-size: 40px;
  background: -webkit-linear-gradient(black, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}

p{
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}
#focus{
  font-family: 'Staatliches', cursive;
}
button {
  background-color: blue;
  color: chartreuse;
}


.jumbotron {
  background: url('images/IMG_1322.jpg');
  font-display: auto;
}

.image{
    position: relative;
    left: 750px;
    bottom: 130px;
    /* top: 100px; */
    clear: both;
}

.buttons{
    position: absolute;
    clear: both;
}

.block{
    position: relative;
    clear: both;
    bottom: 175px;
}

#projects{
  font-size: 40px;
  background: -webkit-linear-gradient(black, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}
  
#skills{
  font-size: 40px;
  background: -webkit-linear-gradient(black, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}
#javascript{
    margin-right: 60px;
}
  #reactjs{
  margin-right: 70px; 
}
#jquery{
    margin-right: 70px;
}
#nodejs{
    margin-right: 70px;
}
#css3{
    margin-right: 70px;
}
#bootstrap{
    margin-right: 70px;
}
#materialize{
    margin-right: 70px;
}
#sql{
    margin-right: 70px;
}
#mongodb{
    margin-right: 70px;
}
#express{
    margin-right: 70px;
}
#firebase{
    margin-right: 70px;
}
#heroku{
    margin-right: 70px;
}
#lightroom{
    margin-right: 70px;
}
#python{
    margin-right: 70px;
}
#octocat{
    margin-right: 70px;
}

#edu{
  font-size: 40px;
  background: -webkit-linear-gradient(black, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
    
}

.um {
    color: maroon;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
}
#umlogo{
    border: 1px solid;
}
.ud{
    color: crimson;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}
#dulogo{
    border: 1px solid;
}

#contact{
  font-size: 40px;
  /* color: rgb(10, 10, 10); */
  border-bottom: 2px solid black;
  background: -webkit-linear-gradient(black, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#mail{
  padding: 10px;
}
#linkedin{
  padding: 10px;
}
#github{
  padding:10px;
}
  