
/* *{
  border: 1px solid red;
} */
body{
  background-color: rgb(228, 237, 247);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(rgb(117, 115, 115) 2px, transparent 2px),
                    -webkit-linear-gradient(0, white 2px, transparent 2px),
                    -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: -moz-linear-gradient(white 2px, transparent 2px),
                    -moz-linear-gradient(0, white 2px, transparent 2px),
                    -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: linear-gradient(white 2px, transparent 2px),
                    linear-gradient(90deg, white 2px, transparent 2px),
                    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  -pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
                   linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
                   linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                   linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                   #269;
  behavior: url(/pie/PIE.htc);
}

h1{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

h3{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

#quote{
  font-weight: bolder;
  font-size: 20px;
}

h4{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#highlight{
  font-style: italic; 
   border-bottom: 1px solid black;
   display: inline-block;
   line-height: 0.85;
   text-shadow:
     2px 2px black,
     2px -2px black:
}

#about{
  font-size: 40px;
  background: -webkit-linear-gradient(black,hsl(240, 1%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}

p{
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  color: black;
}
#focus{
  font-family: 'Staatliches', cursive;
}
button {
  background-color: blue;
  color: chartreuse;
}


.jumbotron {
  background: url('images/IMG_1322.jpg');
  font-display: auto;
}

#image{
  position: relative;
    left: 375px;
    bottom: 150px;
    /* top: 500px; */
    clear: both;
}

.buttons{
    position: absolute;
    clear: both;
}

.block{
    position: relative;
    clear: both;
    bottom: 175px;
}

#projects{
  font-size: 40px;
  background: -webkit-linear-gradient(black,hsl(240, 1%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}
  
.panel panel-default{
  color: #a3a1a7;
}
#skills{
  font-size: 40px;
  background: -webkit-linear-gradient(black,hsl(240, 1%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}
#javascript{
    margin-right: 60px;
}
  #reactjs{
  margin-right: 70px; 
}
#jquery{
    margin-right: 70px;
}
#nodejs{
    margin-right: 70px;
}
#css3{
    margin-right: 70px;
}
#bootstrap{
    margin-right: 70px;
}
#materialize{
    margin-right: 70px;
}
#sql{
    margin-right: 70px;
}
#mongodb{
    margin-right: 70px;
}
#express{
    margin-right: 70px;
}
#firebase{
    margin-right: 70px;
}
#heroku{
    margin-right: 70px;
}
#lightroom{
    margin-right: 70px;
}
#python{
    margin-right: 70px;
}
#octocat{
    margin-right: 70px;
}

#edu{
  font-size: 40px;
  background: -webkit-linear-gradient(black,hsl(240, 1%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
    
}

.um {
    color: maroon;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
}
#umlogo{
    border: 1px solid;
}
.ud{
    color: crimson;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}
#dulogo{
    border: 1px solid;
}

#contact{
  font-size: 40px;
  background: -webkit-linear-gradient(black,hsl(240, 1%, 64%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
}
#mail{
  padding: 10px;
}
#linkedin{
  padding: 10px;
}
#github{
  padding:10px;
}
.thumbnail {
  height: 455px;
}
 .thumbnail .btn {
position: absolute;
bottom: 40;
}  

 .thumbnail .btn-default {
  position: absolute;
  left: 130;
}

/* #navrow {
  height: 100px;
} */

@media (max-width: 599px) 
{ #image
  {overflow: auto;
    /* float: right; */
    position: unset;
  }
.rownav
  {clear: both;
    position: unset;
  }

#about
  {position: unset;
  }

.thumbnail .btn 
{position: absolute;
bottom: 10px;}

body{
width: 90%;
}
}

@media (max-width: 1024px) {
  #image {
    float: right;
    display: inline-block;
    position: unset;
    flex-wrap: wrap;
    width: 60%;
  }
  #navrow{ 
    float: left;
    display: inline-block;
    position: unset;
    flex-wrap: wrap;
    width: 100%;
  }

}